<body style="text-align:center">

    <mat-drawer-container
      [autosize]="true"
      class="min-h-full max-w-7xl mx-auto border-x"
    >
    <mat-card class="mx-auto my-3 max-w-7xl flex justify-between">
        <h1><br><br><b>Contact Us!</b></h1><br><hr><br><br>
        <p><b>Customer Service Telephone:</b> 0800 2200 5883 3344</p><br>
        <p><b>Email:</b> info@jamesgeneralstore.com</p><br>
        <p><b>Address:</b> Unit 223, Grove Industrial Estate, Elm Lane, London, UK</p>
        <p>Our office hours are 9:00am - 5:00pm, Monday - Friday</p>
        <br><hr><br><br>
        <p>Or you can try out our online chatbot available 24/7 who may be able to help you with your queries!</p>
        
        
        <br><p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeTIAOh315TTlzQj_M1nMDkO3AjCbPVzeJPA&usqp=CAU"
            style="
            display: block;
            margin-left: auto;
            margin-right: auto;
          "></p>
    </mat-card>
    
    
    </mat-drawer-container>
    
    </body>