<body>

<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto border-x"
>
<mat-card class="mx-auto my-3 max-w-7xl flex justify-between">
    <h1 style="text-align:center"><br><br>
        We are a very interesting and ethical company, why don't you buy something? </h1>
        <br><br>
        <p style="text-align: center;"><button mat-raised-button routerLink="/home">Start Shopping</button></p>
        <p>
        <img src="https://img.freepik.com/free-vector/cashier-supermarket-isolated-person-smiling-woman-employee-uniform-standing-cash-desk-store-employee-working-grocery-shop-market-retail-commerce_575670-1280.jpg?w=2000&t=st=1670332828~exp=1670333428~hmac=c6e010aed1e6480f756e9a48532ac92e1003b12fb1d77c489f003c78b1bbb657"
        style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          ">
        <br><br><br>
        </p>
    
</mat-card>


</mat-drawer-container>

</body>